.header {
  background-color: #eaeded;
  flex-grow: 1;
}
.header-main {
  display: flex;
  justify-content: space-between;
}
.header-name {
  position: relative;
  top: 10px;
  left: 30px;
}
.header-search {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.search-icon {
  position: relative;
  top: 10px;
}
@media screen and (max-width: 1023px) {
  .header-main {
    height: 80px;
  }
  .header-search {
    position: relative;
    top: 30px;
  }
  .search-icon {
    top: 30px;
  }
  .basket-icon-count {
    position: relative;
    top: -10px;
  }
  .header-name {
    width: 100px;
  }
}
